.hero-container {
  background: rgb(255,222,173);
  background: linear-gradient(162deg, rgba(255,222,173,1) 27%, rgba(250,239,227,1) 87%);
  height: 100vh;
  padding: 30px 0;

}

.hero-container .hero-content-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 50px 0;
}

.hero-container .hero-left {
  width: 50%;
  max-width: 580px;
  margin: 0 90px;
  color: #222;
  
}
.hero-container .hero-left  h1{
  font-weight: 900;
  font-size: 60px;
  
  
}
.hero-container .hero-left  p {
  max-width: 445px;
}

.hero-container .hero-left  h1 span{
  color: #4643D3;
  background: #FFF4F1;
  padding: 0 20px;
  
}

.hero-container .hero-left .hero-buttons {
  margin-top: 38px;
}

.hero-container .hero-left .hero-buttons button {
  border-radius: 10px;
  border: none;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
}

.hero-container .hero-left .get-started-button {
  width: 182px;
  height: 60px;
  margin-right: 28px;
  background: rgb(70,67,211);
  background: linear-gradient(162deg, rgba(70,67,211,1) 27%, rgba(5,0,255,1) 87%);
  
}

.hero-container .hero-left .get-started-button .arrow-icon {
  
  background: #fff;
  border-radius: 50%;
  color: rgba(5,0,255,1);
  margin-left: 15px;
  font-size: 20px;
  padding: 5px 4px 0 4px;
  
}

.hero-container .hero-left .play-button {
  width: 60px;
  height: 60px;
  background: rgb(250,217,97);
  background: linear-gradient(162deg, rgba(250,217,97,1) 27%, rgba(247,107,28,1) 87%);
}



.hero-container .hero-right {
  width: 50%;
  position: relative;
  left: 0;
}

.hero-container .hero-right img{
  width: 100%;
  position: relative;
  left: 0;
}

