.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  width: 90%;
  max-width: 1258px;
  height: 90px;
  padding: 10px;
  border-radius: 10px;
  background: #fff;
  
}

.header-container ul{
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 48px;
}

.header-container ul li a {
  text-decoration: none;
  font-weight: 600;
  font-size: 20px;
  color: #222
}

.header-container ul li a:hover {
  color: #f76b1c;
}

.header-container button {
  width: 177px;
  height: 56px;
  border: none;
  font-weight: 600;
  border-radius: 10px;
  background: rgb(250,217,97);
  background: linear-gradient(162deg, rgba(250,217,97,1) 27%, rgba(247,107,28,1) 87%);
  font-size: 18px;
}

.header-container img {
  width: 205px;
  height: 49px;
}

.header-container .button-new {
  position: absolute;
  top: 115px;
  left: 48%;
  width: 78px;
  height: 40px;
  
}